.cardinfo {
  color: white;
}
.top-image {
  position: relative;
  top: 100px;
  left: 200px;
}
.cardinfo {
  position: absolute;
  top: 0;
  padding: 30px;
  width: 100%;
}
.cardnumber {
  font-size: 26px;
  font-weight: lighter;
  word-spacing: 10px;
  margin-top: 80px;
  margin-bottom: 10px;
  width: 120%;
  position: relative;
}
.cardowner {
  display: flex;
  justify-content: space-between;
  width: 75%;
  text-transform: uppercase;
}
.bottom-image {
  position: relative;
  top: 130px;
  left: 300px;
  color: white;
}
.securityNumber {
  position: absolute;
  top: 25px;
  font-size: 20px;
  font-weight: lighter;
  word-spacing: 10px;
  margin-top: 80px;
  margin-bottom: 10px;
  width: 60%;
  text-align: end;
}
@media (max-width: 400px) {
  .top-image {
    border: 1px solid red;

    top: 60px;
    left: 0;
  }
  .cardcover {
    border: 3px solid blue;
    width: 95%;
  }
  .cardcover img {
    width: 100%;
  }
  .bottom-image {
    top: 0;
    left: 0;
  }
}
